{% extends "forms/base.html" %}

{% block title %}Geneva College Alumni Update{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('form.form_achievement') }}">
  {{ form.hidden_tag() }}

  <h1 style="text-align: center">Update Your Alumni Record</h1>
  <hr>
  <h2 style="margin-top: 1.25rem;">Life Achievements</h2>

    {% for field in [
     form.additionalUpdates
  ] %}
    <div class="field">
      <label class="form-label" for="{{ field.id }}">
        {{ field.label.text }}
      </label>

      {{ field(class="form-input" if field.type != 'SelectField' else "form-select") }}
    </div>
{% endfor %}
    

  <div class="form-btn-row" style="display: flex; justify-content: space-between; gap: 1rem;">
    <button type="submit" name="nav" value="prev" class="form-btn">Previous Page</button>
    <button type="submit" name="nav" value="next" class="form-btn">Next Page</button>
  </div>
</form>
{% endblock %}
