<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Geneva College Alumni Record Update{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='alumni_update_form_styles.css') }}">
</head>

<body>
    <div class="main-center">
        <div class="form-container">  
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='alumni_update_form.js') }}"></script>
</body>

</html>