{% extends "forms/base.html" %}

{% block title %}Geneva College Alumni Record Update{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('form.form_education') }}">
  {{ form.hidden_tag() }}

  <h1 style="text-align: center">Update Your Alumni Record</h1>
  <hr>
  <h2 style="margin-top: 1.25rem;">Additional Education</h2>

  {% for field in [
      form.institution, form.degree, form.graduation_year
  ] %}
    <div class="field">
      <label class="form-label" for="{{ field.id }}">
        {{ field.label.text }}
      </label>

      {{ field(class="form-input" if field.type != 'SelectField' else "form-select") }}
    </div>
{% endfor %}

  <div class="form-btn-row" style="display: flex; justify-content: space-between; gap: 1rem;">
    <button type="submit" name="nav" value="prev" class="form-btn-prev">Previous Page</button>
    <button type="submit" name="nav" value="next" class="form-btn">Next Page</button>
  </div>
</form>
{% endblock %}
