{% extends "forms/base.html" %}

{% block title %}Geneva College Alumni Record Update{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('form.form_family') }}">
  {{ form.hidden_tag() }}

  <h1 style="text-align: center">Update Your Alumni Record</h1>
  <hr>
  <h2 style="margin-top:1.25rem">Family Information</h2>

  {% for field in [
  form.marital_status, form.marry_date, form.spouse_name,
  ] %}
  <div class="field">
    <label class="form-label" for="{{ field.id }}">
      {{ field.label.text }}
    </label>

    {{ field(class="form-input" if field.type != 'SelectField' else "form-select") }}
  </div>
  {% endfor %}

  <div class="field">
    {{ form.spouse_geneva_grad.label }}
    {% for option in form.spouse_geneva_grad %}
    <div class="form-checkbox-row">
      {{ option(class="form-checkbox", id=option.id) }}
      <label class="form-label" for="{{ option.id }}">{{ option.label.text }}</label>
    </div>
    {% endfor %}
  </div>

  <!-- Hidden by default, shown only spouse is a Geneva Grad -->
  <div class="field" id="spouseGradYearContainer" style="display: none;">
  <label class="form-label">
    {{ form.spouse_geneva_degrees.label }}
  </label>

  {% for option in form.spouse_geneva_degrees %}
  <div class="geneva-degree-row">
    <div class="geneva-degree-option">
      {{ option(class="form-checkbox", id=option.id) }}
      <label for="{{ option.id }}">{{ option.label.text }}</label>
    </div>

    <div class="geneva-degree-year">
      {% if option._value() == "Undergraduate" %}
        <div id="undergrad-wrapper">
          {{ form.spouse_undergrad_year(class="form-input", placeholder="Grad Year") }}
        </div>

      {% elif option._value() == "Graduate" %}
        <div id="graduate-wrapper">
          {{ form.spouse_graduate_year(class="form-input", placeholder="Grad Year") }}
        </div>

      {% elif option._value() == "Online Degree" %}
        <div id="online-wrapper">
          {{ form.spouse_online_year(class="form-input", placeholder="Grad Year") }}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

  <div class="form-btn-row" style="display: flex; justify-content: space-between; gap: 1rem;">
    <button type="submit" name="nav" value="prev" class="form-btn-prev">Previous Page</button>
    <button type="submit" name="nav" value="next" class="form-btn">Next Page</button>
  </div>
</form>
{% endblock %}