{% extends "forms/base.html" %}

{% block title %}Geneva College Alumni Record Update{% endblock %}

{% block content %}
<h1 style="text-align: center">Submission Successful!</h1>
  <hr>
  <h2 style="margin-top: 1.25rem;">Thank you for staying connected with Geneva.</h2>
<p style="text-align: left">Your alumni update has been submitted successfully! <br><br>The Office of Alumni Engagement will reach out to you if further clarification is needed in order to update your record.</p>
<div class="form-btn-row" style="display: flex; justify-content: space-between; gap: 1rem;">
<a href="https://www.geneva.edu/alumni/" class="form-btn-prev">Return to Alumni @ Geneva</a>
</div>
{% endblock %}
