<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Geneva College Alumni Update{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='alumni-update-form-styles.css') }}">
</head>

<body>
    <div class="main-center">
        <div class="form-container">  
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='alumni-update-form.js') }}"></script>
</body>

</html>