{% extends "forms/base.html" %}

{% block title %}Geneva College Alumni Update{% endblock %}

{% block content %}
<form id="step3" method="POST" action="{{ url_for('form.form_step3') }}">
  {{ form.hidden_tag() }}

  <h1 style="text-align: center">Update Your Alumni Record</h1>
  <hr>
  <h2>Share a Class Note (Optional)</h2>
  <p>
    If you would like to share any of the information from your alumni record as a class note
    posted on the Geneva College website and included in the class notes section of the Geneva Magazine,
    please write your note below using third person. The maximum length for a class note is 300 characters.<br><br>

    Example: Elsa (Spear) Sturm '17 and husband, Jonathan, welcomed son, Samuel, in March of 2026. The Sturm family currently resides in Indiana.
  </p>

  <div class="field">
    {{ form.AlumniClassNote(class="form-input form-textarea", placeholder="Please enter your class note in third person") }}
    {% for error in form.AlumniClassNote.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>

  <h2>Upload a Photo (Optional)</h2>

  <p>Please submit a photo to go alongside your class note. All images will be resized to fit our website and
      print magazine formats.</p>

  <div id="drop-zone">
    <p>Drag & drop an image, or click to browse your files.</p>
    <input type="file" id="image-input" name="image" accept="image/*" hidden>
    <canvas id="preview-canvas"></canvas>
  </div>
  <input type="hidden" name="resized_image" id="resized-image">

  {% if image_url %}
  <div style="margin-top: 1rem;">
    <p><strong>Previously Uploaded Image:</strong></p>
    <img src="{{ image_url }}" alt="Uploaded Image Preview" style="max-width: 300px; height: auto;">
  </div>
  {% endif %}


  <div class="form-btn-row" style="display: flex; justify-content: space-between; gap: 1rem;">
    <button type="submit" name="nav" value="prev" class="form-btn">Previous Page</button>
    <button type="submit" name="nav" value="next" class="form-btn">Next Page</button>
  </div>
  </div>

</form>
{% endblock %}